.profile__edit-button{
    border:1px solid #FFFFFF;
    max-width: 24px;
    max-height: 24px;
    background-image: url(../../../images/edit-button.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    margin-top: 75%;
    cursor: pointer;
}