.profile__name{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  margin: 10px 21px 0px 29px;
  align-self: end;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 295px;
}

@media screen and (max-width: 767px) {
  .profile__name{
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 0 12px 9px 27px;
    max-width: 225px;
  }
}