.popup__occupation{
    display: block;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 auto 48px;
    min-width: 358px;
}

@media screen and (max-width: 550px) {
    .popup__occupation{
      min-width: 238px;
      margin: 0 auto 45px;
    }
}